.container {
  width: 856px;
  margin: 0 auto;
}

.brand-story-link a {
  color: var(--primary-400);
  text-underline-offset: 4px;
  text-decoration: underline;
}

.header {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 152px 0;
  text-align: center;
}

.eng-title {
  font-size: 28px;
}

.intro img {
  width: 1076px;
  margin-left: -110px;
  margin-right: -110px;
}

.brand-concept {
  border-left: 3px solid var(--neutral-300);
  padding-left: 12px;
}
